.skill{
    background-color: black;
    color: white;
    border-radius: 20px; 
    padding: 10px 15px;
    transition: all 0.5s;
    cursor: pointer;
    text-transform: capitalize;
}
body{
    overflow-x: hidden;
}
.skill:hover{
    background-color: white;
    color: black;
}
.field {
	display: flex;
	width: 100px;
}
.scroll {
	width: 30px;
	height: 30px;
	border: 2px solid #333;
	border-radius: 50%;
	position: relative;
	animation: down 2s infinite;
	-webkit-animation: down 2s infinite;
	&::before {
		content: '';
		position: absolute;
		top: 7px;
		left: 8.5px;
		width: 9px;
		height: 9px;
		border-left: 2px solid #333;
  	border-bottom: 2px solid #333;
		transform: rotate(-45deg);
	}
}
.linee{
    left: 11.3px;
}

@keyframes down {
	0% {
		transform: translate(0);
	}
	20% {
		transform: translateY(15px);
	}
	40% {
		transform: translate(0);
	}
}

@-webkit-keyframes down {
	0% {
		transform: translate(0);
	}
	20% {
		transform: translateY(15px);
	}
	40% {
		transform: translate(0);
	}
}